In [ ]:
import requests
import pandas as pd
from datetime import datetime
from google.colab import files
import matplotlib.pyplot as plt

In [ ]:
def retrieve_data(url, skip=0, top=1000, step=3000, filter=None):
    params = {'$skip': skip, '$top': top}
    response = requests.get(url, params=params)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print("Failed to retrieve data")
        return None

In [ ]:
url = "https://data.cityofnewyork.us/api/odata/v4/m6nq-qud6"

all_data = []
skip = 0
step = 3000

In [ ]:

while len(all_data) <= 3000000:

    data = retrieve_data(url, skip=skip, top=1000)
    if data is None:
        break
    all_data.extend(data['value'])
    skip += step
    if len(data['value']) < 1000:
        break

Failed to retrieve data

In [ ]:
df = pd.DataFrame(all_data)

In [ ]:
df.head(10)

,__id,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,row-pcj3_4uhu~iua5,1.0,2021-01-01T00:30:10.000,2021-01-01T00:36:12.000,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,row-sd85.bhuz.grbn,1.0,2021-01-01T00:51:20.000,2021-01-01T00:52:19.000,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,row-9pzx-ybc3-fnbd,1.0,2021-01-01T00:43:30.000,2021-01-01T01:11:06.000,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,row-zbnh-v3cz_g94q,1.0,2021-01-01T00:15:48.000,2021-01-01T00:31:01.000,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,row-49pi~fgw7~hynj,2.0,2021-01-01T00:31:49.000,2021-01-01T00:48:21.000,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,row-5w23_e8ux_vwqt,1.0,2021-01-01T00:16:29.000,2021-01-01T00:24:30.000,1.0,1.60,1.0,N,224,68,1.0,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,row-tzm6_hdbs-sfhj,1.0,2021-01-01T00:00:28.000,2021-01-01T00:17:28.000,1.0,4.10,1.0,N,95,157,2.0,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,row-f8ky-xicc-b4fm,1.0,2021-01-01T00:12:29.000,2021-01-01T00:30:34.000,1.0,5.70,1.0,N,90,40,2.0,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,row-4zm5_jkgz_ih99,1.0,2021-01-01T00:39:16.000,2021-01-01T01:00:13.000,1.0,9.10,1.0,N,97,129,4.0,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,row-q6e5-3u3r_ei9v,1.0,2021-01-01T00:26:12.000,2021-01-01T00:39:46.000,2.0,2.70,1.0,N,263,142,1.0,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

In [ ]:
df.to_csv("results.csv", index=False)

In [ ]:
files.download('results.csv')